@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    ;
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

h1,
h2,
h3 {
    color: rgb(54, 54, 54);
}

h3,
h4 {
    font-weight: 400;
    color: rgb(100, 100, 100);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}

nav>button {
    background-color: transparent;
    border: 2px solid rgb(65, 65, 65);
    padding: 0.5rem;
    cursor: pointer;
    transform: all 0.3s ease;
}

nav>button:hover {
    background-color: rgb(65, 65, 65);
    color: white;
}

#library-icon {
    padding-left: 3px;
}

.song-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.song-container img {
    width: 20%;
    border-radius: 50%;

}

.song-container h2 {
    padding: 3rem 1rem 1rem 1rem;
}

.song-container h3 {
    font-size: 1rem;
}

.player-container {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-control {
    width: 50%;
    display: flex;
    justify-content: center;
}

.time-control input {
    width: 100%;
    padding: 1rem 0rem;
    cursor: pointer;
}

.time-control span {
    padding: 1rem;
}

.play-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 30%;
}

.play-control svg {
    cursor: pointer;
}

.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 50px rgb(205, 205, 205);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
}

.library h2 {
    padding: 2rem;
}

.library-song {
    display: flex;
    align-items: center;
    padding: 2rem 2rem 1rem 2rem;
    cursor: pointer;
}

.library-song:hover {
    background-color: rgb(232, 223, 241);
}

.library-song img {
    width: 30%;
}

.song-description {
    padding-left: 1rem;
}

.song-description h3 {
    font-size: 1rem;
}

.song-description h4 {
    font-size: 0.7rem;
}

.selected {
    background-color: rgb(231, 223, 241);
}

.active-library {
    transform: translateX(0%);
    opacity: 1;
}